html{box-sizing: border-box; font-family: "Segoe UI", Arial, sans-serif;}
body{max-width: 100%;}
h1{font-size:36px;}
h2{font-size:30px;}
h3{font-size:24px;}
h4{font-size:20px;}
h5{font-size:18px;}
h6{font-size:16px;}

ul{
  list-style-type: none;
}

fieldset{
	border: none;
}

/*Generic display classes*/

.display-column{
	display: flex;
	flex-direction: column;
}

.display-row{
	display: flex;
	flex-direction: row;
}

/*Specific classes*/

.main-header{
	justify-content: center;
	align-items: center;
	margin-top: 5%;
	margin-bottom: 10%;
}

.main-header img{
	width:50%;
}

.main-header > ul{
	width:25%;
	margin: 0%;
}

.social-icons li{
	display: inline-block;
}

.separator-image{
    background-color: white;
    background:url(../img/separator-image.jpg) no-repeat;
	height: 25vh;
	display: none;
}

.wrapper{
	justify-content: flex-start;
	align-items: center;
}

.wrapper-section, .wrapper-aside{
	width: 100%;
}

.section-intro figure{
	margin: 0%;
}

.section-intro img{
	width: 50%;
}

.emphasizes{
	display: none;
}

.emphasizes-mobile{
	margin-bottom:5%;
}

.wrapper-aside{
	margin-bottom: 5%;
}

.form-title{
	text-align: center;
	font-variant: small-caps;
}

.form-input{
	width: 90%;
	margin-bottom: 5%;
	padding: 2%;
}

.form-submit{
	width:90%;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
	margin: 0 auto;
	margin-top: 2.5%;
	margin-bottom: 5%;
    font-size: 16px;
}

.footer-frame{
	justify-content: flex-start;
	align-items: center;
	padding: 5%;
}

.footer-nav > ul{
	padding: 0%;
}

.footer-nav > ul > li{
	margin-bottom:2%;
}

.footer-frame > small{
	margin:3%;
}


/*MEDIA QUERIES*/

@media only screen and (min-width:762px){
	
	.main-header{
		width:70%;
		margin: 1% auto;
		justify-content: space-between;
	}
	
	.main-header img{
		width:auto;
	}
	
	.main-header > ul{
		width:auto;
	}	
	
	.separator-image{
		display: block;
		margin-bottom: 2.5%;
	}
	
	.wrapper{
		flex-direction:row;
		justify-content: flex-start;
		align-items: flex-start;
		width: 70%;
		margin: 0 auto;
	}
	
	.wrapper-section{
		width:70%;
	}

	.wrapper-aside{
		width:30%;
	}
	
	.section-intro{
		width:100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	
	.section-intro figure{
		width:50%;
	}
	
	.section-intro img{
		width:100%;
	}
	
	.emphasizes-mobile{
		display:none;
	}
	
	.emphasizes{
		display:block;
	}
	
	
	
}

/**/
.small-font{font-size: 12px;}
.font-weight-bold{font-weight:bold;}

/*COLORS*/
.color-orange{color:rgb(237,89,0);}
.color-white{color:white;}
.back-color-orange{background-color:rgb(237,89,0);}
.color-gray{color:rgb(177,177,177);}
.back-color-darkgray{background-color:rgb(79,79,81);}
.back-color-litegray{background-color:rgb(236,236,236);}
